@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Dancing+Script:wght@700&family=Fredoka&family=Lato:ital@0;1&family=Montserrat:ital,wght@1,300&family=Mulish&family=Nunito+Sans:ital,wght@1,300&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Oswald&family=Permanent+Marker&family=Press+Start+2P&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto+Slab&family=Roboto:ital@0;1&family=Tapestry&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #ff7ef4;
  overflow: hidden;
}
.container {
  width: 24rem;
  height: 26rem;
  background-color: #fff;
  margin: 7rem auto;
  border-radius: 15px;
}
.text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 12px;
  color: #1d264a;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.box {
  margin: 2rem 3rem;
}
.amount {
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}
input {
  width: 16rem;
  height: 2rem;
  /* border-radius:10px; */
  outline: none;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid black;
  padding-left: 2rem;
}
.mean {
  width: 100%;
  display: flex;
  margin: 1rem 1.5rem;
  gap: 4rem;
}
.country {
  width: 97px;
  height: 41px;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 2px;
}
.sl {
  width: auto;
  height: 20px;
  border: none;
  outline: none;
  font-size: 15px;
  margin: 0 -5px 0 5px;
}
.img {
  width: 20px;
  height: 20px;
}

img {
  width: 100%;
  height: 100%;
  margin-right: 5px;
}
.font-exchange {
  margin-top: 3rem;
  font-size: 22px;
}
.from > p,
.to > p {
  font-family: "Baloo Bhai 2", cursive;
  padding: 5px;
  font-size: 20px;
}
.exchange {
  display: flex;
  margin: 2rem 1.5rem;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 20px;
  gap: 10px;
}
.btn {
  width: 80%;
  height: 3rem;
  margin: 0 2rem;
  border-radius: 10px;
  background-color: #ff7ef4;
  border: none;
  color: #fff;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 20px;
 cursor: pointer;
}
.sl select::-webkit-scrollbar{
    width: 8px;
  }
  .sl select::-webkit-scrollbar-track{
    background: #fff;
  }
  .sl select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
  }